.main {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  min-height: 100vh;
}

.header {
  height: 50px;
  margin-bottom: 1rem;
}


.progressMessages {
  text-align: left;
}

h2.styled {
  margin-top: 1.5rem;
  margin-bottom: 0.5rem;
}

/* Non-mobile */
@media (min-width: 700px) {
  .main {
    padding: 6rem;
  }

  .header {
    height: 200px;
  }
}